ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303f9e;
}

li {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}

li img{
    display: block;
    text-align: center;
    padding-left: 50px;
    padding: 5px;
    height: 100%;
    width: 50%;
}

a:hover {
    background-color: #111111;
}

img{
    height: 30%;
    width: 20%;
}